body {
    box-sizing: border-box;
    text-align: center;
}

.calculator {
    display: grid;
    gap: 0px;
    background-color: #150050;
    max-height: 800px;
    max-width: 350px;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 50px;
}

.display {
    grid-column: 1/5;
    position: relative;
    height: 200px;
}

#displayText {    
    text-align: right;
    font-size: 4rem;
    background-color: #150050;
    color: whitesmoke;
    width: 100%;
    display: grid;
    border: none;
    margin-bottom: 0px;
    position: absolute; 
    bottom: 0;
}

button {
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}

.top {
    background-color: #d4d4d2;
    color: black;
}

.top:hover {
    background-color: antiquewhite;
}

.row-1>button {
    margin-top: 0;
}

.column-1 {
    grid-column: 4;
    grid-row: 3/7;
}

.row-1 {
    grid-column: 1/5;
}

.row-2,
.row-3,
.row-4,
.row-5 {
    grid-column: 1/4;
}

.operator,
#equals {
    background-color: #3F0071;
}

.operator:focus,
#equals:hover,
.operator:hover {
    background-color: antiquewhite;
    color: #ff9500;
}

.angka,
#decimal {
    background-color: #505050;
}

.angka:hover,
#decimal:hover {
    background-color: rgb(250, 235, 215, 0.8)
}

#zero {
    width: 155px;
    border-radius: 35px;
}
